<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Capacitor Filesystem Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Capacitor Filesystem Demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--
  <ion-button (click)="writeFile()">Write File</ion-button>
  <ion-button (click)="readFile()">Read File</ion-button>
  @if (demoFile) {
    <p>{{demoFile}}</p>
  }
  -->

  <input type="file" accept="image/*" hidden (change)="onFileSelected($event)" #fileInput />
  <ion-button (click)="fileInput.click()">Pick File</ion-button>

  <!--div>
    @if (demoImageFile) {
      <img [src]="demoImageFile" />
    }
  </div-->

  <ul>
    @for (image of images | keyvalue; track image.key.uri) {
      <li><img [src]="image.value" /></li>
      <ion-button (click)="deleteFile(image.key)">Delete</ion-button>
    }
  </ul>

</ion-content>