<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--
  <ion-button (click)="writeFile()">Write File</ion-button>
  <ion-button (click)="readFile()">Read File</ion-button>
  <p *ngIf="demoFile">{{demoFile}}</p>
  -->

  <input type="file" accept="image/*" hidden (change)="onFileSelected($event)" #fileInput />
  <ion-button (click)="fileInput.click()">Pick File</ion-button>

  <!--div><img *ngIf="demoImageFile" [src]="demoImageFile" /></div-->

  <ul>
    <li *ngFor="let uri of imageFiles">
      <img [src]="uri" />
    </li>
  </ul>

</ion-content>
